*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Flex', sans-serif;
}

.main_container{

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 119px;
}

.ilustration img{
  width: 800px;
  height: 598px;
  flex-shrink: 0;
  position: relative;
}

.ilustration p {
  position: absolute;
  color: #FFF;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: start;
  top: 700px;
  left: 350px;
}

.form_container {
  width: 384px;
  height: 598px;
  flex-shrink: 0;
  border-radius: 16px;
  background: #FDFEFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.form_container img {
  margin-top: 40px;
}

.form_container h1 {
  margin-bottom: 20px;
  color: #ED6D25;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.mail{
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  align-items: center;
}


 input {
  display: block;
  width: 336px;
  height: 51px;
  border-radius: 8px;
  background: #eff3f8;
  border-style: none;
}

.create {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#submitButton {
  width: 336px;
  height: 51px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #ed6d25;
  color: #fff;
  font-family: Roboto Flex;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

::placeholder {
  color: #868686;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 16px;
}

h2 {
  color: #ed6d25;
  font-family: Roboto Flex;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding-left: 50px;
 
}

img{

    width: 32px;
    height: 32px;
    flex-shrink: 0;
}

.input_row input{

width: 150px;
flex-shrink: 0;

}

.rows{
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  align-items: center;
}

.input_row{
display: flex;
width: 332px;
justify-content: space-between;
align-items: center;
}

.relationship-select {
  display: flex;
  margin-bottom: 25px;
  justify-content: center;
}

.relationship-select select {
  color: #868686;
  width: 336px;
  height: 38px;
  padding: 4px;
  border: 1px solid#EFF3F8;
  border-radius: 4px;
  font-size: 15px;
  background-color: #EFF3F8
}

.create {
  cursor: pointer;
  align-items: center;
  justify-content: center;
  display: flex;
}